/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables.scss";

@font-face {
  font-family: "B612";
  src: url("./assets/fonts/B612-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "B612";
  src: url("./assets/fonts/B612-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "B612";
  src: url("./assets/fonts/B612-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "B612";
  src: url("./assets/fonts/B612-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
    height: 100%;
}
body {
    background: url('./assets/images/baby-yoda-bg.jpg') no-repeat right top;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

* {
  font-family: "B612";
}
