// Colors
$main-color: #85a392;
$main-color-transparent: rgba(0, 0, 0, 0.7);
$secondary-color: #f5b971;
$secondary-color-transparent: rgba(245, 185, 113, 0.05);
$tertiary-color: #fdd998;
$quaternary-color: #ffecc7;

// Resolutions
$break-large: 1024px;
$break-films: 920px;
$break-medium: 800px;
$break-small: 650px;
$break-phone: 500px;
$break-extra-small: 376px;
